@media (max-width: 1200px){
    body{
        padding: 0, 40px;
    }
}

@media (max-width: 768px){
    .informacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes .descricao{
        width: 60%;
        text-align: center ;
    }
@media (max-width: 425px) {
    .informacoes .Logo{
        max-width: 300px;
    }
}

}

/* é possível colocar regras em relação a responsividade das telas */